#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Footer {
  margin-top: 2rem;  
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
